
<style>
            body{font-family: -apple-system,BlinkMacSystemFont,
            "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
            "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",
            "Noto Color Emoji";}
            table{border: 3px solid #E1E8ED;border-collapse:collapse;
	    width: 100%;height: 100%;}th{
		text-align: center;
		background-color: #34A853;
		color: #F7F7F7;
		border: 2px solid #E1E8ED;}td{
		border: 2px solid #E1E8ED;
		text-align: center;
		font-weight: 500;}td:hover{
		background-color:#88cc00;}
                h1{text-align: center; color: black}
                footer{padding: 20px 20px 20px 20px; text-align: center;}
		</style>
                <h1>Time Table of {{time_table_of}}</h1>
		

            <table border="0" class="dataframe table table-striped table-sm">
  <thead>
    <tr style="text-align: right;">
      <th>Days</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr>
      <th>Periods</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>P1</th>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>P2</th>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>*PHP LAB<br>Talha Asghar<br>06:45-12:45<br>CS LAB1</td>
    </tr>
    <tr>
      <th>P3</th>
      <td>C++<br>Talha Asghar<br>08:30-10:00<br>CS R1</td>
      <td>-</td>
      <td>-</td>
      <td>PHYSICS<br>Talha Asghar<br>08:30-10:00<br>CS R1</td>
      <td>VB<br>Talha Asghar<br>08:30-10:00<br>CS R1</td>
      <td>*PHP LAB<br>Talha Asghar<br>06:45-12:45<br>CS LAB1</td>
    </tr>
    <tr>
      <th>P4</th>
      <td>VB<br>Talha Asghar<br>10:15-11:45<br>CS R1</td>
      <td>C SHARP<br>Talha Asghar<br>10:15-11:45<br>CS R1</td>
      <td>VB<br>Talha Asghar<br>10:15-11:45<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>10:15-11:45<br>CS R1</td>
      <td>*VB<br>Talha Asghar<br>10:15-12:45<br>CS R1</td>
      <td>*PHP LAB<br>Talha Asghar<br>06:45-12:45<br>CS LAB1</td>
    </tr>
    <tr>
      <th>P5</th>
      <td>*Java<br>Talha Asghar<br>12:00-14:30<br>CS R1</td>
      <td>LINEAR<br>Talha Asghar<br>12:00-13:30<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>12:00-13:30<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>12:00-13:30<br>CS R1</td>
      <td>*VB<br>Talha Asghar<br>10:15-12:45<br>CS R1</td>
      <td>*PHP LAB<br>Talha Asghar<br>06:45-12:45<br>CS LAB1</td>
    </tr>
    <tr>
      <th>P6</th>
      <td>*Java<br>Talha Asghar<br>12:00-14:30<br>CS R1</td>
      <td>PHYSICS<br>Talha Asghar<br>13:45-15:15<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>13:45-15:15<br>CS R1</td>
      <td>Java<br>Talha Asghar<br>13:45-15:15<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>13:45-15:15<br>CS R1</td>
      <td>Java<br>Talha Asghar<br>13:45-15:15<br>CS R1</td>
    </tr>
    <tr>
      <th>P7</th>
      <td>C SHARP<br>Talha Asghar<br>15:30-17:00<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>15:30-17:00<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>15:30-17:00<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>15:30-17:00<br>CS R1</td>
      <td>LINEAR<br>Talha Asghar<br>15:30-17:00<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>15:30-17:00<br>CS R1</td>
    </tr>
    <tr>
      <th>P8</th>
      <td>C++<br>Talha Asghar<br>17:15-18:45<br>CS R1</td>
      <td>VB<br>Talha Asghar<br>17:15-18:45<br>CS R1</td>
      <td>C++<br>Talha Asghar<br>17:15-18:45<br>CS R1</td>
      <td>VB<br>Talha Asghar<br>17:15-18:45<br>CS R1</td>
      <td>Java<br>Talha Asghar<br>17:15-18:45<br>CS R1</td>
      <td>-</td>
    </tr>
    <tr>
      <th>P9</th>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>P10</th>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>P11</th>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
        <footer>
        <small>The Time Table is generated by the software <i>"The Smart Time Scheduler"</i>.
	</small></footer>
	